nav {
    display: block;
    position: absolute;
    top: 80px;
    background-color: #3E3239;
    margin-right: -10px;
    width: 100%;
}
    
li{
    list-style-type: none;
    display: inline;
    margin-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-color: #3E3239;
}

ul a:link {
    text-decoration: none;
    padding: 10px 20px;
}

a{
    color: #ECDCE5;
}
  
li:hover {
    background-color: #DFBACF;
    text-decoration: none;
}
li:hover a{
    color: #3E3239;
}

li > ul {
    display: none
}
    
li:hover ul {
    display: block; 
    position: absolute; 
    left: 197px;
    top: 45px;
    width: 66px;
    background-color:#009073;
    margin:0;
    border: none;
}
    
li:hover ul li a:link {
    margin-top: 10px;
    margin-bottom: -5px;
    color: #ECDCE5;
    display: block;
    padding: 0;
    margin-left: -25px;
    border: none;
}

li.dropdown {
    border: none;
}

ul{
    margin-left: -30px;
}

nav ul ul li:hover{
    text-decoration: underline;
    text-decoration-color: #3E3239;
    color: #3E3239;
}