h1, h2 {
    color: #741a48;
}

.resume{
    padding: 5px;
    width: 27%;
    border-style: dotted;
    border-color: #741a48;
    background-color: #ecdce5;
}

body{
    margin: 0;
    font-family: "Calibri", sans-serif;
}

h1, h2, p, .resume{
    margin: 10px;
}

a{
    text-decoration: none;
}

header, footer{
    margin-top: 65px;
}