body {
    background-color: #ecdce5;
}

h1{
    font-size: 3em;
    color: #DFBACF;
    margin: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2 {
    font-size: 2em;
    color: #009073;
    margin: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
 
blockquote, td {
    color: #3E3239;
}

.resume{
    padding: 5px;
    width: 100px;
    border-color: #DFBACF;
    background-color: #009073;
    margin-top: 40px;
    text-align: center;
}

iframe{
    border: none;
}

form{
    margin-left: 10px;
}

h3{
    margin-left: 10px;
    color: #3E3239;
    font-weight: 500;
}

table{
    border-collapse: collapse;
    margin-left: 10px;
}

td, th{
    text-align: left;
    padding: 10px;
    padding-left: 15px;
}
td {
    background-color: #DFBACF;
}
th{
    background-color: #3E3239;
    color: #ECDCE5;
    font-weight: 500;
}

body{
    margin: 0;
    font-family: rubik, sans-serif;
}

p, .resume{
    margin: 10px;
    color: #3E3239;
}

a{
    text-decoration: none;
}

header{
    background-color: #3E3239;
    top: 0;
    padding-top: 8px;
}

.head{
    background-color: #3E3239;
}

/* footer{
    display: block;
    position: absolute;
    width: 100%;
    background-color: #009073;
    margin-top: 30px;
} */

.breadcrumbs{
    padding-left: 30px;
    padding-top: 10px;
    background-color: #3E3239;
    font-size: small;
    color: #3E3239;
}

main, header{
    margin-left: 20px;
    margin-right: 20px;
}
main p.first::first-letter {
    initial-letter: 2 1;
    color: #3E3239;
    font-size: larger;
    font-weight: 500;
    margin-right: .05em;
}
main p.indent{
    text-indent: 40px;
}
main {
    padding-top: 20px;
}

.photo-of-me{
    padding-top: 50px;
    max-width: 100%;
    height: auto;
}
.video-resume{
    width: 230px;
    height: 150px;
}

label{
    color: #3E3239;
}
input{
    margin-top: 10px;
    color: #3E3239;
}
textarea{
    margin-top: 10px;
    border: #ECDCE5;
}

/* about page */
.about-container{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 20% 60% 20%;
    gap: 10px;
}

/* project page */
.heading1{
    padding-right: 10px;
}
.heading2{
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
.heading3{
    margin-left: 10px;
    padding-left: 25px;
}
.media1{
    max-width: 100%;
    margin-left: 10px;
    padding-right: 10px;
}
.media2{
    max-width: 100%;
    height: auto;
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
.media3{
    max-width: 100%;
    margin-left: 10px;
    padding-left: 25px;
}
.p1{
    padding-right: 10px;
}
.p2{
    padding-right: 10px;
    padding-left: 10px;
}
.p3{
    padding-left: 25px;
}
.project-container{
    margin-top: -15px;
    display: grid;
    grid-template-columns: 38% 22% 38%;
    grid-template-rows: 7.5% 52.5% 40%;
}

/* reflection page */
.reflectioncontainer{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
}

.footer1{
    bottom: 0;
}

/* mobile navigation */
@media screen and (max-width: 800px) {
    nav, header {
        float: none;
    }
    header{
        text-align: center;
    }
    nav ul {
        display: none;
    }
    #menu-toggle:checked + label + nav ul {
        display: block;
        margin-top: 45px;
        position: absolute;
        background-color: #DFBACF;
        width: 100%;
        margin-left: -40px;
        padding-bottom: 2px;
    }
    #menu-icon {
        display: inline-block;
        cursor: pointer;
        font-size: 24px;
        padding: 10px;
        margin-top: -18px;
        margin-right: -10px;
        background-color: #DFBACF;
        color: #3E3239;
    }
    #menu-toggle {
        display: none;
    }
    nav {
        text-align: left;
    }
    nav ul li {
        display: block;
        border: none;
    }
    #menu-toggle:checked + label + nav ul ul {
        display: none;
    }

    /* about page */
    .about-media{
        margin-top: 20px;
        margin-bottom: 70px;
    }
    .about-container{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 60% 40%;
        gap: 10px;
    }

    /* project page */
    .project-container {
        display: flex;
        flex-direction: column;
    }
    .project-container > * {
        margin-bottom: 20px;
    }
    .heading1, .media1, .p1{
        padding-right: 0;
    }
    .heading2, .media2, .p2{
        padding-left: 0;
        padding-right: 0
    }
    .heading3, .media3, .p3{
        padding-left: 0;
    }
}

@font-face{
    font-family: rubik;
    src: url("Rubik-VariableFont_wght.ttf");
}

.education-details{
    display: none;
}
.ed-list li, .ed-list ul{
    display: block;
    border: none;
}

@media print{
    .about-media, .resume, #menu{
        display: none;
    }
    footer{
        background-color: #DFBACF;
        bottom: 0;
    }
    h1, h2, a{
        color: black;
    }
    h1{
        margin-top: 30px;
    }
    .education-details{
        display: contents;
    }
}

.icon{
    margin-bottom: -4px;
}

.icon:hover{
    height: 20px;
    width: 20px;
    margin-bottom: -5px;
}

*{
    max-width: 100%;
}

main{
    margin-top: 20px;
}

.logo{
    max-width: 100%;
    height: auto;
    padding-bottom: 40px;
}