h1, h2 {
    color: #741a48;
}

.resume{
    padding: 5px;
    width: 196px;
    border-style: dotted;
    border-color: #741a48;
    background-color: #ecdce5;
}

body{
    margin: 0;
    font-family: "Calibri", sans-serif;
}

h1, h2, p, .resume{
    margin: 10px;
}

a{
    text-decoration: none;
}

header{
    margin-top: 70px;
}

footer{
    display: block;
    position: absolute;
    width: 100%;
    background-color: #ecdce5;
    margin-top: 30px;
    bottom: 0;
}

main, header{
    margin-left: 20px;
    margin-right: 20px;
}

main p.first::first-letter {
    initial-letter: 2 1;
    color: #741a48;
    font-weight: bold;
    margin-right: .05em;
}

main p.indent{
    text-indent: 40px;
}

.photo-of-me{
    width: 230px;
    height: 300px;
}

.video-resume{
    width: 230px;
    height: 150px;
}

.about-text{
    grid-template-columns: 1;
    grid-template-rows: 2;
}
.about-media{
    grid-template-columns: 2;
    grid-template-rows: 2;
    align-items: center;
    margin-left: 10px;
}

.container{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 20% 60% 20%;
    gap: 10px;
}